# Python files
*.py linguist-language=Python

# CSS files
django_demo/app01/static/*.css linguist-language=CSS

# HTML files
django_demo/app01/static/templates/*.html linguist-language=HTML

# JavaScript files
django_demo/app01/static/js/*.js linguist-language=JavaScript
